USE [master]
GO
/****** Object:  Database [CarSalesDB]    Script Date: 23.03.2026 20:25:19 ******/
CREATE DATABASE [CarSalesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarSalesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarSalesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarSalesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CarSalesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarSalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarSalesDB]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 23.03.2026 20:25:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Producer] [nvarchar](max) NULL,
	[Price] [decimal](18, 0) NULL,
	[Model] [varchar](max) NULL,
	[BuyDate] [date] NULL,
	[ProducedYear] [int] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 23.03.2026 20:25:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[IDNumber] [char](11) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 23.03.2026 20:25:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nvarchar](50) NOT NULL,
	[HireDate] [smalldatetime] NULL,
	[Gender] [bit] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23.03.2026 20:25:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[CarID] [int] NOT NULL,
	[OrderPrice] [decimal](18, 0) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarID], [Producer], [Price], [Model], [BuyDate], [ProducedYear]) VALUES (1, N'Mercedes', CAST(25000000 AS Decimal(18, 0)), N'G Wagon', CAST(N'2026-03-16' AS Date), 2026)
INSERT [dbo].[Cars] ([CarID], [Producer], [Price], [Model], [BuyDate], [ProducedYear]) VALUES (2, N'Mercedes', CAST(1200000 AS Decimal(18, 0)), N'GLA 200', CAST(N'2026-03-15' AS Date), 2005)
INSERT [dbo].[Cars] ([CarID], [Producer], [Price], [Model], [BuyDate], [ProducedYear]) VALUES (3, N'Renault', CAST(1000000 AS Decimal(18, 0)), N'Clio 5', CAST(N'2026-03-14' AS Date), 2014)
SET IDENTITY_INSERT [dbo].[Cars] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [NameSurname], [Email], [Address], [Phone], [IDNumber]) VALUES (1, N'vedat', N'vedat', N'sadadasda', N'5645646', N'4646546546 ')
INSERT [dbo].[Customers] ([CustomerID], [NameSurname], [Email], [Address], [Phone], [IDNumber]) VALUES (2, N'a', N'aa', N'aaaaa', N'111', N'23123213   ')
INSERT [dbo].[Customers] ([CustomerID], [NameSurname], [Email], [Address], [Phone], [IDNumber]) VALUES (3, N'b', N'bb', N'bbbbb', N'2222', N'1232131332 ')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [NameSurname], [HireDate], [Gender]) VALUES (1, N'ali', CAST(N'2026-03-18T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[Employees] ([EmployeeID], [NameSurname], [HireDate], [Gender]) VALUES (2, N'ayşe', CAST(N'2026-03-15T00:00:00' AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [CarID], [OrderPrice], [CustomerID], [EmployeeID]) VALUES (2, CAST(N'2026-03-16' AS Date), 1, CAST(26000000 AS Decimal(18, 0)), 1, 1)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [CarID], [OrderPrice], [CustomerID], [EmployeeID]) VALUES (3, CAST(N'2026-03-18' AS Date), 3, CAST(1100000 AS Decimal(18, 0)), 2, 1)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [CarID], [OrderPrice], [CustomerID], [EmployeeID]) VALUES (4, CAST(N'2026-03-18' AS Date), 5, CAST(3750000 AS Decimal(18, 0)), 1, 2)
SET IDENTITY_INSERT [dbo].[Orders] OFF
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Cars] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Cars]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
USE [master]
GO
