USE [master]
GO
/****** Object:  Database [WeekDaysClass]    Script Date: 1.04.2026 10:19:18 ******/
CREATE DATABASE [WeekDaysClass]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WeekDaysClass', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WeekDaysClass.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WeekDaysClass_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WeekDaysClass_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WeekDaysClass].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WeekDaysClass]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](30) NULL,
	[CategoryID] [int] NULL,
	[SizeID] [int] NULL,
	[Renk] [nvarchar](10) NULL,
	[Materyal] [nvarchar](10) NULL,
	[Maliyet] [money] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductListView]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[ProductListView]
AS
SELECT [ProductName],[Renk],[Materyal],[Maliyet]  FROM Products
GO
/****** Object:  View [dbo].[ProductCostsView]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[ProductCostsView]
AS
SELECT [ProductName] AS 'Ürün',[Renk],[Materyal],[Maliyet],Maliyet*0.2 AS 'KDV Tutarı (%20)' ,maliyet*1.2 AS 'KDV Dahil Tutar' FROM Products
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[SaleDetailID] [int] IDENTITY(1,1) NOT NULL,
	[SaleID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [money] NULL,
	[VAT] [decimal](3, 2) NULL,
	[DiscountRate] [decimal](3, 2) NULL,
 CONSTRAINT [PK_SaleDetails] PRIMARY KEY CLUSTERED 
(
	[SaleDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SaleDetailReportView]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SaleDetailReportView]
AS
SELECT ProductID,Quantity,UnitPrice,[VAT],[DiscountRate]
,Quantity*UnitPrice AS 'Toplam Tutar' 
,Quantity*UnitPrice*DiscountRate As 'İndirim Tutarı'  
,(Quantity*UnitPrice)-(Quantity*UnitPrice*DiscountRate) AS 'İndirimli Tutar'
,((Quantity*UnitPrice)-(Quantity*UnitPrice*DiscountRate)) * (1+VAT) AS 'KDV Dahil Tutar'  
FROM [dbo].[SaleDetails]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[SalesDate] [smalldatetime] NULL,
	[PaymentType] [int] NULL,
	[PaymentDueDayCount] [int] NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CountOfReceiptsReportView]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CountOfReceiptsReportView]
AS
SELECT COUNT(SaleID) AS 'Fatura Adedi' FROM Sales
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[ContactPerson] [nvarchar](150) NULL,
	[Phone] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[Address] [nvarchar](250) NOT NULL,
	[CreateDate] [date] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CountOfCustomersView]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CountOfCustomersView]
AS
SELECT COUNT(*) AS 'Müşteri Sayısı' FROM Customers
GO
/****** Object:  View [dbo].[SumOfProductsReportView]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[SumOfProductsReportView]
AS
SELECT SUM(Quantity) AS 'Satılan Toplam Ürün Adedi' FROM SaleDetails
GO
/****** Object:  Table [dbo].[Buys]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buys](
	[BuyID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NULL,
	[SupplierID] [int] NULL,
	[Quantity] [decimal](18, 2) NULL,
	[UnitID] [int] NULL,
	[BuyDate] [smalldatetime] NULL,
	[UnitPrice] [money] NULL,
	[CurrencyID] [int] NULL,
 CONSTRAINT [PK_Buys] PRIMARY KEY CLUSTERED 
(
	[BuyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryText] [nvarchar](30) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[CurrencyID] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyText] [varchar](4) NULL,
 CONSTRAINT [PK_Currencies] PRIMARY KEY CLUSTERED 
(
	[CurrencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyCurrencyRates]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyCurrencyRates](
	[DailyCurrencyRateID] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyID] [int] NULL,
	[TLRate] [money] NULL,
	[CurrencyDate] [smalldatetime] NULL,
 CONSTRAINT [PK_DailyCurrencyRates] PRIMARY KEY CLUSTERED 
(
	[DailyCurrencyRateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemText] [nvarchar](20) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeText] [nvarchar](15) NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[SizeID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[SizeText] [varchar](10) NULL,
 CONSTRAINT [PK_Sizes] PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[ContactPerson] [nvarchar](20) NULL,
	[ContactGSM] [varchar](10) NULL,
	[AddressText] [nvarchar](250) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 1.04.2026 10:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitText] [nvarchar](10) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buys] ON 

INSERT [dbo].[Buys] ([BuyID], [ItemID], [SupplierID], [Quantity], [UnitID], [BuyDate], [UnitPrice], [CurrencyID]) VALUES (1, 4, 1, CAST(300.00 AS Decimal(18, 2)), 2, CAST(N'2026-03-24T00:00:00' AS SmallDateTime), 15.0000, 1)
INSERT [dbo].[Buys] ([BuyID], [ItemID], [SupplierID], [Quantity], [UnitID], [BuyDate], [UnitPrice], [CurrencyID]) VALUES (2, 3, 2, CAST(1000.00 AS Decimal(18, 2)), 3, CAST(N'2026-03-24T00:00:00' AS SmallDateTime), 4.0000, 2)
SET IDENTITY_INSERT [dbo].[Buys] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryText]) VALUES (1, N'Takım Elbise')
INSERT [dbo].[Categories] ([CategoryID], [CategoryText]) VALUES (2, N'Ceket')
INSERT [dbo].[Categories] ([CategoryID], [CategoryText]) VALUES (3, N'Pantolon')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Currencies] ON 

INSERT [dbo].[Currencies] ([CurrencyID], [CurrencyText]) VALUES (1, N'TL')
INSERT [dbo].[Currencies] ([CurrencyID], [CurrencyText]) VALUES (2, N'USD')
INSERT [dbo].[Currencies] ([CurrencyID], [CurrencyText]) VALUES (3, N'EUR')
SET IDENTITY_INSERT [dbo].[Currencies] OFF
INSERT [dbo].[Customers] ([CustomerID], [Title], [ContactPerson], [Phone], [Email], [Address], [CreateDate], [Status]) VALUES (1, N'ABC Ltd.', N'Ali Kılıç', N'555654485', N'fwfewe@fdfgm.com', N'şirinevler', CAST(N'2026-03-23' AS Date), 1)
INSERT [dbo].[Customers] ([CustomerID], [Title], [ContactPerson], [Phone], [Email], [Address], [CreateDate], [Status]) VALUES (2, N'XYZ A.Ş.', N'Ayşe Öztürk', N'3445566677', N'ccc@fdgfd.df', N'ataköy', CAST(N'2026-03-23' AS Date), 0)
INSERT [dbo].[Customers] ([CustomerID], [Title], [ContactPerson], [Phone], [Email], [Address], [CreateDate], [Status]) VALUES (3, N'XX Holding', N'Kübra ', N'333333333', N'gggggg@vfffgfg', N'New York', CAST(N'2026-03-23' AS Date), 1)
SET IDENTITY_INSERT [dbo].[DailyCurrencyRates] ON 

INSERT [dbo].[DailyCurrencyRates] ([DailyCurrencyRateID], [CurrencyID], [TLRate], [CurrencyDate]) VALUES (1, 2, 44.8000, CAST(N'2026-03-24T00:00:00' AS SmallDateTime))
INSERT [dbo].[DailyCurrencyRates] ([DailyCurrencyRateID], [CurrencyID], [TLRate], [CurrencyDate]) VALUES (2, 3, 51.2000, CAST(N'2026-03-24T00:00:00' AS SmallDateTime))
INSERT [dbo].[DailyCurrencyRates] ([DailyCurrencyRateID], [CurrencyID], [TLRate], [CurrencyDate]) VALUES (3, 4, 60.0000, CAST(N'2026-03-24T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[DailyCurrencyRates] OFF
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemID], [ItemText]) VALUES (1, N'Düğme')
INSERT [dbo].[Items] ([ItemID], [ItemText]) VALUES (2, N'Etiket')
INSERT [dbo].[Items] ([ItemID], [ItemText]) VALUES (3, N'Kumaş')
SET IDENTITY_INSERT [dbo].[Items] OFF
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentTypeText]) VALUES (1, N'Nakit')
INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentTypeText]) VALUES (2, N'Kredi Kartı')
INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentTypeText]) VALUES (3, N'Havale/EFT/FAST')
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [SizeID], [Renk], [Materyal], [Maliyet]) VALUES (1, N'Yelekli Takım Elbise', 1, 6, N'Lacivert', N'Yün', 500.1800)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [SizeID], [Renk], [Materyal], [Maliyet]) VALUES (2, N'Kruvaze Takım Elbise', 1, 6, N'Siyah', N'Polyester', 411.7500)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[SaleDetails] ON 

INSERT [dbo].[SaleDetails] ([SaleDetailID], [SaleID], [ProductID], [Quantity], [UnitPrice], [VAT], [DiscountRate]) VALUES (1, 1, 1, 5, 1000.0000, CAST(0.20 AS Decimal(3, 2)), CAST(0.00 AS Decimal(3, 2)))
INSERT [dbo].[SaleDetails] ([SaleDetailID], [SaleID], [ProductID], [Quantity], [UnitPrice], [VAT], [DiscountRate]) VALUES (2, 1, 2, 4, 920.0000, CAST(0.20 AS Decimal(3, 2)), CAST(0.02 AS Decimal(3, 2)))
INSERT [dbo].[SaleDetails] ([SaleDetailID], [SaleID], [ProductID], [Quantity], [UnitPrice], [VAT], [DiscountRate]) VALUES (3, 2, 2, 15, 920.0000, CAST(0.20 AS Decimal(3, 2)), CAST(0.00 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[SaleDetails] OFF
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([SaleID], [CustomerID], [SalesDate], [PaymentType], [PaymentDueDayCount]) VALUES (1, 1, CAST(N'2026-03-25T00:00:00' AS SmallDateTime), 1, 0)
INSERT [dbo].[Sales] ([SaleID], [CustomerID], [SalesDate], [PaymentType], [PaymentDueDayCount]) VALUES (2, 2, CAST(N'2026-03-25T13:41:00' AS SmallDateTime), 2, 0)
SET IDENTITY_INSERT [dbo].[Sales] OFF
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([SizeID], [CategoryID], [SizeText]) VALUES (1, 1, N'36')
INSERT [dbo].[Sizes] ([SizeID], [CategoryID], [SizeText]) VALUES (2, 1, N'38')
INSERT [dbo].[Sizes] ([SizeID], [CategoryID], [SizeText]) VALUES (3, 1, N'40')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactPerson], [ContactGSM], [AddressText], [Email]) VALUES (1, N'ABC Ticaret', N'Ali Bey', N'5555555555', NULL, N'ali@abc.com')
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactPerson], [ContactGSM], [AddressText], [Email]) VALUES (2, N'XYZ Toptancısı', N'Fatma Hanım', N'4444444444', NULL, N'fatma@xyz.com')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitID], [UnitText]) VALUES (1, N'Kg')
INSERT [dbo].[Units] ([UnitID], [UnitText]) VALUES (2, N'Adet')
INSERT [dbo].[Units] ([UnitID], [UnitText]) VALUES (3, N'Metre')
SET IDENTITY_INSERT [dbo].[Units] OFF
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DailyCurrencyRates] ADD  CONSTRAINT [DF_DailyCurrencyRates_CurrencyDate]  DEFAULT (getdate()) FOR [CurrencyDate]
GO
ALTER TABLE [dbo].[SaleDetails] ADD  CONSTRAINT [DF_SaleDetails_Quantity]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[SaleDetails] ADD  CONSTRAINT [DF_SaleDetails_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[SaleDetails] ADD  CONSTRAINT [DF_SaleDetails_VAT]  DEFAULT ((0.2)) FOR [VAT]
GO
ALTER TABLE [dbo].[SaleDetails] ADD  CONSTRAINT [DF_SaleDetails_DiscountRate]  DEFAULT ((0)) FOR [DiscountRate]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_SalesDate]  DEFAULT (getdate()) FOR [SalesDate]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_PaymentDueDayCount]  DEFAULT ((0)) FOR [PaymentDueDayCount]
GO
ALTER TABLE [dbo].[Buys]  WITH CHECK ADD  CONSTRAINT [FK_Buys_Currencies] FOREIGN KEY([CurrencyID])
REFERENCES [dbo].[Currencies] ([CurrencyID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Buys] CHECK CONSTRAINT [FK_Buys_Currencies]
GO
ALTER TABLE [dbo].[Buys]  WITH CHECK ADD  CONSTRAINT [FK_Buys_Items] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Buys] CHECK CONSTRAINT [FK_Buys_Items]
GO
ALTER TABLE [dbo].[Buys]  WITH CHECK ADD  CONSTRAINT [FK_Buys_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Buys] CHECK CONSTRAINT [FK_Buys_Suppliers]
GO
ALTER TABLE [dbo].[Buys]  WITH CHECK ADD  CONSTRAINT [FK_Buys_Units] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Units] ([UnitID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Buys] CHECK CONSTRAINT [FK_Buys_Units]
GO
ALTER TABLE [dbo].[DailyCurrencyRates]  WITH CHECK ADD  CONSTRAINT [FK_DailyCurrencyRates_Currencies] FOREIGN KEY([CurrencyID])
REFERENCES [dbo].[Currencies] ([CurrencyID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DailyCurrencyRates] CHECK CONSTRAINT [FK_DailyCurrencyRates_Currencies]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Sizes] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Sizes] ([SizeID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Sizes]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Products]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales] FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sales] ([SaleID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_Customers]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_PaymentTypes] FOREIGN KEY([PaymentType])
REFERENCES [dbo].[PaymentTypes] ([PaymentTypeID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_Sales_PaymentTypes]
GO
USE [master]
GO
