USE [master]
GO
/****** Object:  Database [WeekDaysClass]    Script Date: 25.03.2026 11:09:12 ******/
CREATE DATABASE [WeekDaysClass]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WeekDaysClass', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WeekDaysClass.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WeekDaysClass_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WeekDaysClass_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WeekDaysClass].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WeekDaysClass]
GO
/****** Object:  Table [dbo].[Buys]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buys](
	[BuyID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NULL,
	[SupplierID] [int] NULL,
	[Quantity] [decimal](18, 2) NULL,
	[UnitID] [int] NULL,
	[BuyDate] [smalldatetime] NULL,
	[UnitPrice] [money] NULL,
	[CurrencyID] [int] NULL,
 CONSTRAINT [PK_Buys] PRIMARY KEY CLUSTERED 
(
	[BuyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryText] [nvarchar](20) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[CurrencyID] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyText] [varchar](4) NULL,
 CONSTRAINT [PK_Currencies] PRIMARY KEY CLUSTERED 
(
	[CurrencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[ContactPerson] [nvarchar](150) NULL,
	[Phone] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[Address] [nvarchar](250) NOT NULL,
	[CreateDate] [date] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyCurrencyRates]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyCurrencyRates](
	[DailyCurrencyRateID] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyID] [int] NULL,
	[TLRate] [money] NULL,
	[CurrencyDate] [smalldatetime] NULL,
 CONSTRAINT [PK_DailyCurrencyRates] PRIMARY KEY CLUSTERED 
(
	[DailyCurrencyRateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemText] [nvarchar](20) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](30) NULL,
	[CategoryID] [int] NULL,
	[SizeID] [int] NULL,
	[Renk] [nvarchar](10) NULL,
	[Materyal] [nvarchar](10) NULL,
	[Maliyet] [money] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[SizeID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[SizeText] [varchar](10) NULL,
 CONSTRAINT [PK_Sizes] PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NULL,
	[ContactPerson] [nvarchar](20) NULL,
	[ContactGSM] [varchar](10) NULL,
	[AddressText] [nvarchar](250) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 25.03.2026 11:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitText] [nvarchar](10) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Buys] ON 

INSERT [dbo].[Buys] ([BuyID], [ItemID], [SupplierID], [Quantity], [UnitID], [BuyDate], [UnitPrice], [CurrencyID]) VALUES (1, 4, 1, CAST(300.00 AS Decimal(18, 2)), 2, CAST(N'2026-03-24T00:00:00' AS SmallDateTime), 15.0000, 1)
INSERT [dbo].[Buys] ([BuyID], [ItemID], [SupplierID], [Quantity], [UnitID], [BuyDate], [UnitPrice], [CurrencyID]) VALUES (2, 3, 2, CAST(1000.00 AS Decimal(18, 2)), 3, CAST(N'2026-03-24T00:00:00' AS SmallDateTime), 4.0000, 2)
SET IDENTITY_INSERT [dbo].[Buys] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryText]) VALUES (1, N'Takım Elbise')
INSERT [dbo].[Categories] ([CategoryID], [CategoryText]) VALUES (2, N'Ceket')
INSERT [dbo].[Categories] ([CategoryID], [CategoryText]) VALUES (3, N'Pantolon')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Currencies] ON 

INSERT [dbo].[Currencies] ([CurrencyID], [CurrencyText]) VALUES (1, N'TL')
INSERT [dbo].[Currencies] ([CurrencyID], [CurrencyText]) VALUES (2, N'USD')
INSERT [dbo].[Currencies] ([CurrencyID], [CurrencyText]) VALUES (3, N'EUR')
SET IDENTITY_INSERT [dbo].[Currencies] OFF
INSERT [dbo].[Customers] ([CustomerID], [Title], [ContactPerson], [Phone], [Email], [Address], [CreateDate], [Status]) VALUES (1, N'ABC Ltd.', N'Ali Kılıç', N'555654485', N'fwfewe@fdfgm.com', N'şirinevler', CAST(N'2026-03-23' AS Date), 1)
INSERT [dbo].[Customers] ([CustomerID], [Title], [ContactPerson], [Phone], [Email], [Address], [CreateDate], [Status]) VALUES (2, N'XYZ A.Ş.', N'Ayşe Öztürk', N'3445566677', N'ccc@fdgfd.df', N'ataköy', CAST(N'2026-03-23' AS Date), 0)
INSERT [dbo].[Customers] ([CustomerID], [Title], [ContactPerson], [Phone], [Email], [Address], [CreateDate], [Status]) VALUES (3, N'XX Holding', N'Kübra ', N'333333333', N'gggggg@vfffgfg', N'New York', CAST(N'2026-03-23' AS Date), 1)
SET IDENTITY_INSERT [dbo].[DailyCurrencyRates] ON 

INSERT [dbo].[DailyCurrencyRates] ([DailyCurrencyRateID], [CurrencyID], [TLRate], [CurrencyDate]) VALUES (1, 2, 44.8000, CAST(N'2026-03-24T00:00:00' AS SmallDateTime))
INSERT [dbo].[DailyCurrencyRates] ([DailyCurrencyRateID], [CurrencyID], [TLRate], [CurrencyDate]) VALUES (2, 3, 51.2000, CAST(N'2026-03-24T00:00:00' AS SmallDateTime))
INSERT [dbo].[DailyCurrencyRates] ([DailyCurrencyRateID], [CurrencyID], [TLRate], [CurrencyDate]) VALUES (3, 4, 60.0000, CAST(N'2026-03-24T00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[DailyCurrencyRates] OFF
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemID], [ItemText]) VALUES (1, N'Düğme')
INSERT [dbo].[Items] ([ItemID], [ItemText]) VALUES (2, N'Etiket')
INSERT [dbo].[Items] ([ItemID], [ItemText]) VALUES (3, N'Kumaş')
SET IDENTITY_INSERT [dbo].[Items] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [SizeID], [Renk], [Materyal], [Maliyet]) VALUES (1, N'Yelekli Takım Elbise', 1, 6, N'Lacivert', N'Yün', 500.1800)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [SizeID], [Renk], [Materyal], [Maliyet]) VALUES (2, N'Kruvaze Takım Elbise', 1, 6, N'Siyah', N'Polyester', 411.7500)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([SizeID], [CategoryID], [SizeText]) VALUES (1, 1, N'36')
INSERT [dbo].[Sizes] ([SizeID], [CategoryID], [SizeText]) VALUES (2, 1, N'38')
INSERT [dbo].[Sizes] ([SizeID], [CategoryID], [SizeText]) VALUES (3, 1, N'40')
SET IDENTITY_INSERT [dbo].[Sizes] OFF
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactPerson], [ContactGSM], [AddressText], [Email]) VALUES (1, N'ABC Ticaret', N'Ali Bey', N'5555555555', NULL, N'ali@abc.com')
INSERT [dbo].[Suppliers] ([SupplierID], [CompanyName], [ContactPerson], [ContactGSM], [AddressText], [Email]) VALUES (2, N'XYZ Toptancısı', N'Fatma Hanım', N'4444444444', NULL, N'fatma@xyz.com')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitID], [UnitText]) VALUES (1, N'Kg')
INSERT [dbo].[Units] ([UnitID], [UnitText]) VALUES (2, N'Adet')
INSERT [dbo].[Units] ([UnitID], [UnitText]) VALUES (3, N'Metre')
SET IDENTITY_INSERT [dbo].[Units] OFF
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Status]  DEFAULT ((1)) FOR [Status]
GO
USE [master]
GO
